<div class="table-responsive">
  <table class="table table-condensed">
    <tr>
      <th>
        Name
      </th>
      <th>
        Position
      </th>
      <th>
        Cost
      </th>
      <th>
      </th>
    </tr>
    <% draft_picks.each do |draft_pick| %>
      <tr>
        <td>
          <%= draft_pick.player.name %>
        </td>
        <td>
          <%= draft_pick.player.position %>
        </td>
        <td>
          <%= draft_pick.cost  %>
        </td>
        <td>
          <%= link_to "Remove",
            contest_draft_pick_path(@contest, draft_pick),
            method: :delete,
            class: 'btn btn-success btn-xs' %>
        </td>
      </tr>
    <% end %>
  </table>
</div>
