<footer class="row">
  <div class="container">
    <div class="row">
      <hr />
      <div class="col-sm-6">
        <p>© Copyright.</p>
      </div>
      <div class="col-sm-6">
        <ul class="list-inline pull-right">
          <li><%= link_to "Contact", "#" %></li>
          <li><%= link_to "Terms", "#" %></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
